{% extends 'base.html' %}



{% block content %}
        <div class="page-title wb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        {% for category in category_post %}
                        <h2><i class="fa fa-leaf bg-green"></i>{{ category.name }}</h2>
                        {% endfor %}
                    </div><!-- end col -->
                    <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home'%}">Home</a></li>

                            <li class="breadcrumb-item active">All Posts</li>
                        </ol>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end page-title -->

        <section class="section wb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-list clearfix">
                                {% for post in pos_category %}
                                <div class="blog-box row">
                                    <div class="col-md-4">
                                        <div class="post-media">
                                            <a href="{% url 'post_detail' post.id %}" title="">
                                                <img src="{{ post.image.url }}" alt="" class="img-fluid" width = '210px' height="130px">
                                                <div class="hovereffect"></div>
                                            </a>
                                        </div><!-- end media -->
                                    </div><!-- end col -->

                                    <div class="blog-meta big-meta col-md-8">
                                        <span class="bg-aqua"><a href="garden-category.html" title="">{{ post.category.name }}</a></span>
                                        <h4><a href="{% url 'post_detail' post.id %}" title="">{{ post.title }}</a></h4>
                                        <p>{{ post.text|slice:":50" }}</p>
                                        <small><a href="garden-category.html" title=""><i class="fa fa-eye"></i> 1887</a></small>
                                        <small><a href="garden-single.html" title="">{{ post.created_at }}</a></small>
                                        <small><a href="#" title="">Admin</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->
                                <hr class="invis">
                                {% endfor %}

                            </div><!-- end blog-list -->
                        </div><!-- end page-wrapper -->

                        <hr class="invis">
                        {% if is_paginated %}
                        <div class="row">
                            <div class="col-md-12">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination justify-content-start">
                                        {% if page_obj.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Back</a>
                                            </li>
                                        {% else %}
                                        <li class="page-item">
                                                <a class="page-link" href="#">Back</a>
                                        </li>
                                        {% endif %}

                                        {% for num in page_obj.paginator.page_range %}
                                            {% if page_obj.number == num %}
                                            <li class="page-item"><a class="page-link" href="#">{{num}}</a></li>
                                            {% elif num > page_obj.number|add:-3 and num < page_obj.number|add:3 %}
                                            <li class="page-item"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
                                            {% endif %}
                                        {% endfor %}

                                        {% if page_obj.has_next %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                                            </li>
                                        {% else %}
                                        <li class="page-item">
                                                <a class="page-link" href="#">Next</a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div><!-- end col -->
                        </div><!-- end row -->
                        {% endif %}
                    </div><!-- end col -->


                        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            <div class="sidebar">
                                <div class="widget">
                                    <h2 class="widget-title">Search</h2>
                                    <form class="form-inline search-form" method = "get" action = "{% if category.slug %}{% url 'category_list' category.slug %}{% else %}{% url 'post_list' %}{% endif %}"><!-- Обновление страницы -->
                                    <div class="form-group">
                                        {{ form.query }}
                                    </div>
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                </form>
                                </div><!-- end widget -->
                                <div class="widget">
                                    <h2 class="widget-title">Recent Posts</h2>
                                    <div class="blog-list-widget">
                                        <div class="list-group">
                                            {% for last in last_post %}
                                            <a href="{% url 'post_detail' last.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
                                                <div class="w-100 justify-content-between">
                                                    <img src="{{ last.image.url }}" alt="" class="img-fluid float-left">
                                                    <h5 class="mb-1">{{ last.title }}</h5>
                                                    <small>{{ last.created_at }}</small>
                                                </div>
                                            </a>
                                            {% endfor %}
                                        </div>
                                    </div><!-- end blog-list -->
                                </div><!-- end widget -->





                            <div class="widget">
                                <h2 class="widget-title">Popular Categories</h2>
                                <div class="link-widget">
                                    <ul>
                                        {% for category in categories %}
                                        <li><a href="{% url 'category_list' category.slug %}">{{category.name}}<span>(21)</span></a></li>

                                        {% endfor %}
                                    </ul>
                                </div><!-- end link-widget -->
                            </div><!-- end widget -->
                        </div><!-- end sidebar -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>
{% endblock %}